* {
    margin: 0;
    padding: 0;
}

.menu-bar {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #0099ff;
    font-size:15px;
    font-weight: 900;
}

.menu-button {
    height: 45px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.menu-button:hover {
    box-shadow: 0px 0px 5px 1px #3366ff;
}

.menu-button img {
    width: 20px;
    height: 20px;
}

.menu-button span {
    display: inline;
    color: white;
}

.master {
    width: 100%;
    height: 95.5%;
    display: flex;
}

.side {
    width: 19.8%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.side textarea {
    width: 100%;
    height: 50%;
    resize: none;
}