* {
    margin: 0;
    padding: 0;
}

.menu-bar {
    width: 100%;
    min-width: 800px;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #0099ff;
    font-size: 15px;
    font-weight: 900;
}

.menu-button {
    height: 45px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 15px;
}

.menu-button:hover {
    background: #0883D6;
}

.menu-button img {
    width: 20px;
    height: 20px;
}

.menu-button span {
    display: inline;
    color: white;
}

.drop-down-menu {
    display: flex;
    flex-direction: column;
}

.drop-down-menu_list {
    width: 150px;
    height: 97px;
    display: none;
    position: absolute;
    top: 45px;
    left: 230px;
    background-color: #0099ff;
    z-index: 1002;
    overflow: auto;
    border-radius: 0px 0px 10px 10px;
    border-top: 2px solid #0883D6;
}

.drop-down-menu_list div {
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 12.5px;
    padding-left: 13px;
    color: white;
    cursor: pointer;
}

.drop-down-menu_list div:hover {
    background: #0883D6;
}

.device_list {
    width: 220px;
    display: none;
    position: absolute;
    top: 45px;
    left: 421px;
    background-color: #0099ff;
    z-index: 1002;
    overflow: auto;
    border-radius: 0px 0px 10px 10px;
    border-top: 2px solid #0883D6;
}

.device_list div {
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 12.5px;
    padding-left: 13px;
    color: white;
    cursor: pointer;
}

.device_list div:hover {
    background: #0883D6;
}

.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #afafaf;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=88);
}

.white_content {
    width: 500px;
    height: 400px;
    display: none;
    position: absolute;
    top: 25%;
    left: 35%;
    padding: 20px;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    border-radius: 15px;
}

.device-message {
    width: 450px;
    height: 100px;
    display: flex;
    align-items: center;
    border: 2px solid #afafaf;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: 20px;
}

.device-message img {
    width: 90px;
    height: 90px;
    margin-left: 10px;
}

.white_content button {
    margin-top: 110px;
    margin-left: 205px;
    background-color: #0099ff;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.master {
    width: 100%;
    height: 95.5%;
    min-width: 800px;
    min-height: 300px;
    display: flex;
}

.side {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.code-view {
    width: 98%;
    height: 60%;
    display: flex;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    margin-top: 5px;
}

.code-view textarea {
    width: 400px;
    height: 97%;
    resize: none;
    border: none;
    outline: none;
    margin-left: 10px;
}

.uart-view {
    width: 98%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    resize: none;
    border: 1px solid #afafaf;
    border-radius: 10px;
    margin: 5px;
}

.uart-view textarea {
    height: 90%;
    width: 100%;
    resize: none;
    border: none;
}

.uart-input {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #afafaf;
}

.uart-view input {
    height: 24px;
    width: 55%;
    border: 1px solid #afafaf;
    border-radius: 5px;
    outline-color: #0099ff;
}

.uart-view button {
    height: 25px;
    width: 50px;
    margin-left: 10px;
    background-color: #0099ff;
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}